* {
  box-sizing: border-box;
  z-index: 10;
}

/* Rules for the heading */

.heading-section {
  display: flex;
  align-items: center;
}

.heading-name {
  margin-left: auto;
  margin-right: auto;
  font-size: 4rem;
  font-family: 'Abril Fatface', sans-serif;
  text-decoration: line-through;
  transition: text-decoration 10s;
}

.heading-name:hover {
  text-decoration: underline;
}

/* Rules for the heading */

/* Rules for Quote Container */

.center-container {
  padding: 10% 10%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  border: 5px solid black;
  background-color: #ececec;
  display: flex;
  align-items: center;
}

.quote-container {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  text-align-last: center;
}

/* Rules for Quote Container */

/* Rules for the Get Quote Button */

.button-section {
  display: flex;
  align-items: center;
}

.quote-button {
  border: 2.5px solid black;
  width: 20rem;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 5px black;
  transition: border 0.3s, background-color 0.4s;
}

.quote-button:hover {
  color: white;
  border: 2.5px solid #ececec;
  background-color: black;
}

/* Rules for the Get Quote Button */

/* Rules for the background video */

/* Style the video: 100% width and height to cover the entire window */

.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Rules for the background video */